@model WebApp.Models.Item
@{
	ViewData["Title"] = "Delete";
}

<p>Are You sure You want to Delete This Item ?</p>
<p>@Model.Name</p>
<p>@Model.Price $</p>
<form asp-action="Delete" method="post" class="d-inline">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger" 
            onclick="return confirm('Are you sure you want to delete this item?');">
        Delete
    </button>
    <a asp-action="Index" class="btn btn-success ml-2">Cancel</a>
</form>
