@model List<WebApp.Models.Item>

@{
    ViewData["Title"] = "Index Item";
}

<h2>Items</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price.ToString("N2") $</td>
                <td> 
                   <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
                <td>
                       <a asp-action="Delete"asp-route-id="@item.Id" >Delete</a>

                </td>
            </tr>
        }
    </tbody>
    <br/>
    <br/>
</table>

<div class="mt-4">
    <a asp-action="Create" class="btn btn-primary">Create New Item</a>
</div>